.edits-index {
  width: 80%;
  padding-left: 2em;
}

.edits-index a, a:visited {
  color: rgb(38, 171, 107);
  text-decoration: none;
}

.edits-index a:hover {
  color: rgb(13, 59, 37);
  font-weight: bolder;
}

.link-to-edit {
  margin-bottom: 0px;
}

.edit-byline {
  margin-top: 1px;
}

.edit-note {
  font-size: 0.5em;
  font-color: rgb(145, 145, 145);
  font-style: italic;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
