body{
  font-family: Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
}
body {
  background-color: #F5F5F5;
}

.header-links {
  float: left;
  width: 30%;
  margin-left: 100px;
  margin-top: 30px;
}

.header-links a, a:visited {
  color: rgb(38, 171, 107);
  text-decoration: none;
}

.header-links a:hover {
  color: rgb(13, 59, 37);
  font-weight: bolder;
}

.searchbar {
  clear: left;
  margin-left: 100px;
}

input[name=search_term] {
  border-radius: 5px;
  border-color: rgb(61, 230, 189);
}

.header-title {
  float: right;
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  font-weight: lighter;
  color: #505353;
  margin-right: 280px;
  margin-top: -70px;
  margin-bottom: 0;
}

hr {
  margin-top: 10px;
  width: 100%;
}

.index-main {
  width: 90%;
  margin-top: 20px;
}

.featured-articles {
  float: left;
  margin-left: 10%;
  width: 55%;
}

.recently-added-articles {
  float: right;
  margin-left: 2%;
  width: 30%;
}

.featured-articles h2, .recently-added-articles h2 {
  font-family: Helvetica, sans-serif;
  color: #505353;
}

.articles-list {
  list-style-type: none;
}

.article-link, .article-link:visited {
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
  text-decoration: none;
  color: rgb(61, 64, 69);
}

.article-link:hover {
  color: rgb(38, 171, 107);
  text-decoration: none;
}

.article-list-subtitle {
  color: rgb(123, 130, 139);
  font-style: italic;
}

footer {
  width: 100%;
  height: 80px;
}
