.search-results-container h3 {
  font-family: Helvetica, sans-serif;
  color: #505353;
  margin-left: 1em;
}

.search-results-container h2 {
  font-family: Helvetica, sans-serif;
  color: #505353;
  margin-left: 0.5em;
}
